<div class="page login-page">
  <div class="container d-flex align-items-center">
    <div class="form-holder has-shadow">
      <div class="row">
        <!-- Logo & Information Panel-->
        <div class="col-lg-6">
          <div class="info d-flex align-items-center">
            <div class="content">
              <div class="logo">
                <h1>Dashboard</h1>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
        <!-- Form Panel    -->
        <div class="col-lg-6 bg-white">
          <div class="form d-flex align-items-center">
            <div class="content">
              <form method="post" class="form-validate" novalidate="novalidate">
                <div class="form-group">
                  <div class="input-group">
                      <input id="email" name="email" placeholder="user name or email address" class="form-control"
                      type="email">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                       <input id="email" name="email" placeholder="password" class="form-control" type="password">
                  </div>
                </div>
                <a id="login" href="#" class="btn btn-primary">Login</a>
                <!-- This should be submit button but I replaced it with <a> for demo purposes-->
              </form><a routerLink="/resetpassword" class="forgot-pass"> Reset Password?</a><br><small>Do not have an
                account? </small><a routerLink="/register" class="signup">Signup</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>