@import "./node_modules/bootstrap/scss/bootstrap";
$bgcolor:#cdcdcd;
$listitembgcolor: #a7b3a5;
$navcolor:#B56357;
$fontcolor:rgb(19, 1, 1);
$fonts:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

.container-fluid{
    display: block;
    max-width: 100%;
    height: 675px;
    background-color:$listitembgcolor;
    margin-block-start: -50px;
}
.kumar {
    margin-left: 40%;
}
.border {
    border-radius: 15px;
}
.naresh{
	border: 1px solid $listitembgcolor;
}































































