<div class="container-fluid">
    <!-- <div class="row login">
        <h1>Login</h1>
        <form>
            <input type="text" name="u" placeholder="Username" required="required" />
            <input type="password" name="p" placeholder="Password" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
            <a routerLink='/resetpassword'>Lost your password?</a><br>
            <a routerLink="/register">Don't have an account?</a>
        </form>
    </div> -->
    <form class="form-group container jestify-center w-25 border s-2 p-5 mt-5 naresh">
        <h2 class="text-center">Login</h2>
        <li class="fa fa-user fa-5x kumar"></li>
        <input type="text"  class="form-control mb-3 mt-3 border " placeholder="username" required>
        <input type="password" class="form-control mb-3  border " placeholder="password" required>
        <input type="submit"  class="form-control  mb-3  btn btn-success border"  value="submit">
        <p class="text-center">new user?<a routerLink="/register" class="text-info">Register</a></p>
        <p class="text-center"><a  routerLink='/resetpassword' class="text-center forgot ">Reset password?</a></p>
    </form>
</div>
 
