<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<nav class="navbar navbar-expand-lg navStyle">
    <a class="brand-navbar" href="#"><img src="/assets/logo.png" alt="Responsive image" height="60px"></a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#mainMenu">
        <span><i class="fas fa-align-right iconStyle"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="mainMenu">
        <ul class="navbar-nav ml-auto navList">
            <li class="nav-item active"><a routerLink="/home" class="nav-link"><i class="fas fa-home"></i>HOME</a></li>
            <li class="nav-item">
                <a routerLink="/myads" class="nav-link"><i class="fas fa-briefcase"></i>Myads</a>
            </li>
            <li class="nav-item">
                <a routerLink="/ads" class="nav-link"><i class="fas fa-briefcase"></i>Ads</a>
            </li>
            <li class="nav-item">
                <a routerLink="/inbox" class="nav-link"><i class="fas fa-inbox"></i>Inbox</a>
            </li>
            <li class="nav-item">
                <a routerLink="/register" class="nav-link"><i class="fas fa-users"></i>Register</a>
            </li>
            <li class="nav-item">
                <a routerLink="/login" class="nav-link"><i class="fas fa-sign-in-alt"></i>Login</a>
            </li>
            <li class="nav-item">
                <a routerLink="/home" class="nav-link"><i class="fas fa-sign-out-alt"></i>Logout</a>
            </li>
            <li class="nav-item sell ">
                <a routerLink="/home" class="nav-link"><i class="fas fa-camera"></i>Sell</a>
            </li>
        </ul>
    </div>
</nav>