@import "./node_modules/bootstrap/scss/bootstrap";
$bgcolor:#cdcdcd;
$bgcolor2: #a7b3a5;
$iconcolor:#2c3531;
$fonts:"Helvetica Neue",Helvetica,Arial,sans-serif;
.form-gap {
    padding-top: 100px;
    padding-left: 39%;
    background-color: $bgcolor2;
    height: 673px;
}
.btn-primary{
    border: 1px solid $iconcolor;
    background-color: $iconcolor;
}