@import "./node_modules/bootstrap/scss/bootstrap";@import "./node_modules/bootstrap/scss/bootstrap";
$bgcolor:#cdcdcd;
$listitembgcolor: #a7b3a5;
$fontcolor:#2c3531;
$fonts:"Helvetica Neue",Helvetica,Arial,sans-serif;
.container-fluid {
    display: block;
    max-width: 100%;
    height: auto;
    background-color:$bgcolor;
    
}
img{
    max-width: 100%;
    height: 100%;
}
#h1{
    float: left; 
    color:#212529;
    font-family: $fonts;
}
.container {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color:$bgcolor;
}

a {
    text-decoration: none !important
}

.card-product-list,
.card-product-grid {
    margin-bottom: 0
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: $listitembgcolor;
    background-clip: border-box;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.10rem;
    margin-top: 10px;
    font-family: $fonts;
}

.card-product-grid:hover {
    -webkit-box-shadow: 0 4px 15px rgba(8, 8, 8, 0.3);
    box-shadow: 0 4px 15px rgba(7, 2, 2, 0.3);
    -webkit-transition: .3s;
    transition: .3s
}

.card-product-grid .img-wrap {
    border-radius: 0.2rem 0.2rem 0 0;
    height: 220px
}

.card .img-wrap {
    overflow: hidden
}

.card-lg .img-wrap {
    height: 280px
}

.card-product-grid .img-wrap {
    border-radius: 0.2rem 0.2rem 0 0;
    height: 228px;
    padding: 16px
}

[class*='card-product'] .img-wrap img {
    height: 100%;
    max-width: 100%;
    width: auto;
    display: inline-block;
    -o-object-fit: cover;
    object-fit: cover
}

.img-wrap {
    text-align: center;
    display: block
}

.card-product-grid .info-wrap {
    overflow: hidden;
    padding: 18px 20px
}

[class*='card-product'] a.title {
    color: #212529;
    display: block
}
.card-product-grid .bottom-wrap {
    padding: 18px;
    border-top: 1px solid #0f0808
}

.btn {
    display: inline-block;
    font-weight: 600;
    color: #07090a;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: $bgcolor;
    border: 1px solid transparent;
    padding: 0.45rem 0.85rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    font-family: $fonts;
}

.btn-primary {
    color: #fff;
    background-color: $fontcolor;
    border-color: $fontcolor
}

.fa {
    color: #FF5722
}