/* You can add global styles to this file, and also import other style files */
@import "./node_modules/bootstrap/scss/bootstrap";  
$fonts:"Helvetica Neue",Helvetica,Arial,sans-serif;
$bgcolor:#c5d5cb;
$itembgcolor:#e3e0cf;
$bgcolor2:#9fa8a3;